doctype html
html(lang='en')
	head
		include includes/header 		
	body		
			header.header#header
				button.btn-menu#btn-menu(data-icon-name="hambugerCross", type="button")
					svg.toggle(height="64", version="1.1", width="64", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 64 64")
						g <path class="path" fill="#888" stroke="#888" stroke-width="5" stroke-linejoin="bevel" d="M5.0916789,20.818994C5.0916789,20.818994,58.908321,20.818994,58.908321,20.818994"></path>
						<path class="path" fill="#888" stroke="#888" stroke-width="5" stroke-linejoin="bevel" d="m 5.1969746,31.909063 53.8166424,0" transform="matrix(1,0,0,1,0,0)" style="opacity: 1;"></path>
						<path class="path" fill="#888" stroke="#888" stroke-width="5" stroke-linejoin="bevel" d="M5.0916788,42.95698C5.0916788,42.95698,58.908321,42.95698,58.908321,42.95698"></path>
				div.menu#menu 
					nav
						ul
							li.first
								h1.logo 
								a(href="#")
									img.logo(src="img/logo.png")  
							li.first 
								a.faq(href="#faq") FAQ
							li 
								a.social(href="#social") Social Advertising
							li 
								a.highimpact(href="#highimpact") Paid Search Packages
							li 
								a.seo(href="#seo") SEO Packages
							li 
								a(href="http://teamleads.com") Home

		div.wrapper
			section#seo 

				div.wrap 
					ul.tabs.group
						li.first.uno#home 
							a.uno.active(href="#/one", marketing-type="SEO")<i class="fa fa-search"></i>
						li.second
							a.second(href="#/two", marketing-type="paid search")<i class="fa fa-bullseye"></i>
						li.third
							a.third(href="#/three", marketing-type="social")<i class="fa fa-facebook"></i>
						li
							h5.seo.seoTitle Search Engine Optimization  
							//- a(href="#more") Learn More
						li 
							a.seo(href="#more") - Learn more


					div#content
						div.block.personal.f1
							h2.title Business
							div.content
								p.price 
									//- sup   $ 
									span.price $500
									sub /mo.
								//- p.hint Perfect for freelancers
							//- ul.features
							//- 	li 
							//- 		span.fontawesome-cog blah
							//- 	li
							//- 		span.fontawesome-star blah2
							//- 	li
							//- 		span.fontawesome-dashboard blah3
							//- 	li
							//- 		span.fontawesome-cloud blah4
							div.pt-footer
								button#business.default.subscribe.columns(marketing-options="business", pricing-options="$500/mo") <i class="fa fa-line-chart"></i> Subscribe

						div.block.professional.f1
							h2.title Professional
							div.content
								p.price
									//- sup   $
									span.price $1000
									sub /mo.
								//- p.hint Suitable for startups
							//- ul.features
							//- 	li 
							//- 		span.fontawesome-cog blah
							//- 	li
							//- 		span.fontawesome-star blah2
							//- 	li
							//- 		span.fontawesome-dashboard blah3
							//- 	li
							//- 		span.fontawesome-cloud blah4
							div.pt-footer
								button#professional.default.subscribe.columns(marketing-options="professional", pricing-options="$1000/mo") <i class="fa fa-line-chart"></i> Subscribe

						div.block.business.f1
							h2.title Elite
							div.content
								p.price
									//- sup $
									span.price $1500
									sub /mo.
								//- p.hint PER MONTH
							//- ul.features
							//- 	li 
							//- 		span.fontawesome-cog blah
							//- 	li
							//- 		span.fontawesome-star blah2
							//- 	li
							//- 		span.fontawesome-dashboard blah3
							//- 	li
							//- 			span.fontawesome-cloud blah4
							div.pt-footer
								button#elite.default.subscribe.columns(marketing-options="elite", pricing-options="$1500/mo") <i class="fa fa-line-chart"></i> Subscribe


						//- p#two  2Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, tempore, totam. Est, vel hic fuga officiis. Cum quis, magni tempora ea aspernatur natus adipisci repellat doloremque, laudantium distinctio totam, quam?
						//- p#three  3Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ab suscipit omnis! Eos atque laboriosam, voluptatum provident quidem modi. Velit, inventore cum quia impedit odio. Obcaecati, at eum consequatur distinctio?

					h2.select Select Your Upgrade 	
					//- p.upgrade No Upgrade Selected	

					form(action="/api/send_email", class="purchase", method="post", id="upgrade")
						input(type="text", name="agent_package", value="No Upgrade Selected", class="upgrade", readonly)
						input(type="text", name="agent_bugget", class="budget", placeholder="Enter Custom Budget")
						input(type="text", id="email", name="agent_email", class="email", placeholder="Enter Agent Email")
						input(type="submit", value="Pay Now", class="submitButton")
						p.conditions I accept the 
							a(href="#modal", id="link", class="modal") Terms of Purchase
							input#terms(type="checkbox", name="terms", required) 
					div.overlay.hidden
					div.modalBox.hidden
						h1 Terms of Purchase
						
						p <strong>Terms:</strong> Contracts for marketing may be terminated, or the Monthly Marketing Spend may be decreased, only upon Client providing Team Leads with a minimum of 90 clear days’ notice of termination or reduction. If any shorter period of termination or reduction notice is given Client shall still be obligated to pay for the full amount of contracted Monthly Marketing Spend for the next ensuing three (3) months. Although Team Leads will strive to generate as many leads as possible at the lowest cost per lead, the volume and cost per lead are dependent upon market and package.
						br
						//- p.conditions I accept the 
						//- 	a(href="#modal") Terms of Purchase
						//- 	input#checkbox(type="checkbox", name="terms", required) 
						a(href="#", class="close") &times;

					div.modalBox2.hidden
						
						iframe#thankyouModal(src="http://marketing.teamleads.com/thankyou.php", width="500", height="800")

						a(href="#", class="close2") &times;

			
			section#more

				h2.sections What does being on the first page mean?
				h3 Why SEO drives leads
				br

				img.inBody(src="img/seo.png")  

				p You've heard great things about SEO and getting to the top of Google. But what does it mean to be there?
				br
				p The short answer is more traffic to your website, and of course, more traffic means more leads & sales for your team.
				br
				ul
					li.first.sections <i class="fa fa-check"></i> 80% of organic traffic is captured by top 3 results
					li.sections <i class="fa fa-check"></i> 72% of all traffic goes to organic search results
					li.sections <i class="fa fa-check"></i> AdWords only captures 28% of all searches for all ads 
				br

				p We have a SEO product that will take your lead aquisition to the next level.
				br

				h4.gray SEO is a power hitter, delivering:
				
				br
				ul
					li.sections <i class="fa fa-check"></i> Increased Traffic - Top positions receive majority of impressions and clicks
					li.sections <i class="fa fa-check"></i> ROI - Trackable and quantifiable results - rank improvements, traffic, leads
					li.sections <i class="fa fa-check"></i> Cost Effective - Users are actively looking for homes/real estate online
					li.sections <i class="fa fa-check"></i> Brand Awareness - Significant search impressions translates to more exposure
					li.sections <i class="fa fa-check"></i> Better Conversion Rates - Visitors more likely to become customers
					li.sections <i class="fa fa-check"></i> Bypass Competition - Your site is optimized, the competition's isn't. Who is more successful?
				br

				p SEO is about more than simply outranking the competition for the top spot. It's about marketing your content and ranking multiple pages for multiple search terms, so that when people search, they only get results that point to your pages.
				br

				h4.gray Our SEO Packages include:

				ul
					li.sections <i class="fa fa-check"></i> Keyword Analysis - Identifies the most profitable keywords to dominate
					li.sections <i class="fa fa-check"></i> Content Promotion - Content distribution, backlinking to increase authority
					li.sections <i class="fa fa-check"></i> Linking & indexing - Ensures content & links are completely indexed by Google
					li.sections <i class="fa fa-check"></i> SEO Reporting - How your rank is improving, analytical data showing traffic improvements
				br

				p We recommend the Business package for smaller markets and teams and Professional/Elite for larger markets, or teams looking to dominate the organic search results across multiple pages.
				br

				p You can enjoy top positioning in your marketplace, capturing rankings of high-value, targeted keywords across multiple ranking positions, all working together to generate the new wave of leads you need.
				br

				div.subscribe
					a.subSeo(href="#seo")
						button.subscribe <i class="fa fa-line-chart"></i> Subscribe
				br

			section#highimpact

				h2.sections High-Impact Lead Generation
				h3 Direct Response Paid Search
				br

				img.sem(src="img/SEM.png")  

				p Having your site show up for high-value search queries is everything. We use Search Advertising to position your website on search engines, capturing precise, targeted searchers actively looking to buy or sell in your local real estate market.
				br

				ul
					li.first.sections <i class="fa fa-check"></i> AdWords captures 28% of all search engine queries
					li.sections <i class="fa fa-check"></i> Search Advertising is a direct response strategy that is able to generate immediate traffic and leads
					li.sections <i class="fa fa-check"></i> By targeting keywords, we capture lower sales funnel traffic that is more likely to result in a paying customer, not just another lead
				br

				h4.gray Search & Display Advertising Delivers:
				br

				p.first Research and selection of keywords, or search queries, that are most relevant to your business, creating 'keyword groupings' that are paired with tailored ads. Some accounts may have up to 30,000 keyword variations for targeting.
				br

				p Search Advertising (AdWords, Yahoo!/Bing) is an auction based model where both a bid and a 'Quality Score' determine where and when your ad is shown. We optimize these two variables for each keyword in your campaign, all based on lead generation performance and your cost-per-lead.
				br 

				h4.gray Our Search & Display Advertising Package Includes:
				br

				ul
					li.sections <i class="fa fa-check"></i> Keyword Research & Campaign Structuring - Structuring your keywords and ads for maximum efficiency
					li.sections <i class="fa fa-check"></i> Account Optimization - Prioritizing individual keywords based on lead generation performance
					li.sections <i class="fa fa-check"></i> Reporting - Detailed performance data including advertising costs, lead generated, and cost-per-lead
				br

				p All activity is Pay-Per-Click (PPC) based and designed around lead generation.
				br

				p We recommend a minimum of $500 for smaller markets and teams and $1000-$1500 for larger <strong>markets, or teams looking to dominate the advertising space.</strong>
				br

				p There's a reason Search Advertising is wide-spread and efficient - the more you spend, the more you get in return.
				br

				div.subscribe
					a.subSearch(href="#seo")
						button.subscribe <i class="fa fa-line-chart"></i> Subscribe
				br

			section#social

				h2.sections Social Lead Generation
				h3 Finely Tuned Push marketing
				br

				img.fb(src="img/facebook.png")

				p Facebook advertising allows us to reach existing or new customers on Faccebook using customer information you already have.
				br

				p We are able to deliver targeted ads to people that match your target demographic, as well as those who have already visited your website, but didn't register as a lead.
				br

				h4.gray Social Advertising Delivers:
				br

				ul
					li.sections <i class="fa fa-check"></i> Website visitor retargeting: Re-engage Facebook users who bounced from your site without registering, giving them a reason to reconsider your team with a strong call to action.
					br
					li.sections <i class="fa fa-check"></i> Retarget at the property type level: it's now possible to re-engage visitors based on the property type they last viewed on your website, reaching out to them with tailored and creative messaging.
					br
					li.sections <i class="fa fa-check"></i> Detailed demographic targeting: Target home owners in your area that may be interested in selling. A wide range of demographic is available for targeting, including: age, martial status, home ownership status, individual income.
					br

				h4.gray Our Social Advertising Package Includes:
				br

				ul
					li.sections <i class="fa fa-check"></i> Demographic Research & Campaign Structuring - Structuring your targeting and ads to capture the most relevant audience for lead generation.
					li.sections <i class="fa fa-check"></i> Account Optimization - Targeting adjustments based on lead generation and cost-per-lead.
					li.sections <i class="fa fa-check"></i> Reporting - Detailed performance data including advertising cossts, leads generated, and cost-per-lead.
				br

				p All activity is Pay-Per-Click (PPC) based and designed around lead generation.
				br

				p We recommend a minimum of $250 for smaller markets and teams, and $500-750 for larger markets or teams looking to dominate their immediate area on Facebook.
				br

				p Facebook Advertising is not only great at capturing a demographically relevant audience - your brand recognition will increase, producing a halo effect in other marketing channels.
				br

				div.subscribe
					a.subSocial(href="#seo")
						button.subscribe <i class="fa fa-line-chart"></i> Subscribe
				br

			section#faq 

				h2.sections FAQ
				br

				h4.faq What happens when I click "Pay Now"? How am I billed?
				br

				p After you select your Marketing Upgrade and "Pay Now," you will receive a notification email detailing your package and budget upgrade. Our billing team will review the upgrade request and will confirm billing details with you, including a final confirmation and method of payment.
				br

				h4.faq When will my package upgrade take effect?
				br

				p All billing activity is processed at the beginning of each month. Once payment has been received, your upgrade will take immediate effect. If you wish to upgrade before the 1st of the month, kindly let our billing team know when they contact you to confirm. You will then be charged the full amount of the requested upgrade, and again at the beginning of the following month.
				br

				h4.faq Where can I learn more about the marketing packages?
				br

				p Detailed information on our marketing packages and strategies is available within the 
					a(href="http://help.teamleads.com/hc/en-us/categories/200304639-Marketing") Team Leads Help Center.

		a(href="#top", id="topbutton")
			i(class="fa fa-chevron-up home")

  

		script smoothScroll.init();
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="dist/scripts/smooth-scroll.js")


