meta(charset='UTF-8')
title TeamLeads Marketing
link(rel='stylesheet', href='css/reset.css', type='text/css')
link(rel='stylesheet', href='css/main.css', type='text/css')
link(rel='icon', type='image/png', href='img/favicon.ico')
script(src='scripts/vendor/jquery/jquery.min.js')
script(src='scripts/main.min.js')
script(src='scripts/svginject.js')
script(src='scripts/thankyou.js')
script(src='scripts/vendor/smoothscroll/jquery.smooth-scroll.js')
link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')

	